/*@import a Google Font here!*/

body {
  background-image: url("/images/background.png")
}

ul {
  list-style: none;
}

#container {

}

.dashed {
  border-style: dashed;
}

.left-container {
  float: left;
  padding-left: 20%;
  background-color: white;
}

.right-container {
  float: right;
  padding-right: 20%;
  background-color: white;
}

h1 {
  font-size: 20px;
  text-align: center;
}
